In [1]:
%matplotlib inline

import numpy as np
import matplotlib as plt
import pandas as pd

用range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for迴圈

In [6]:
#建list從1到10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
s = 0
for i in range(1,101):
    s = s + i
print(s)

5050

# list append

In [19]:
price = [56,19,72]
rate = 34.1415677

In [20]:
for p in price:
    print(p*rate)

1911.9277912000002
648.6897863
2458.1928744

In [21]:
L = []
L.append(87)
L

[87]

In [31]:
for p in price:
    L.append(p*rate)
L

[87,
 1911.9277912000002,
 648.6897863,
 2458.1928744,
 1911.9277912000002,
 648.6897863,
 2458.1928744,
 56,
 19,
 72,
 1911.9277912000002,
 648.6897863,
 2458.1928744]

# 字串分割

In [26]:
spam = input("輸入你要買的東西的價格:")

輸入你要買的東西的價格:45,66,99,5,4

In [28]:
data = spam.split(",")

In [29]:
for p in data:
    print(float(p)*rate)

1536.3705465
2253.3434682
3380.0152023000005
170.7078385
136.5662708

In [33]:
p_list = []
spam = input("輸入你要買的東西的價格:")
data = spam.split(",")

for p in data:
    p = float(p)
    p_list.append(p*rate)
    print("價格",int(p*rate),"台幣")

輸入你要買的東西的價格:56,888,10
價格 1911 台幣
價格 30317 台幣
價格 341 台幣

In [39]:
spam = '566   9 5 8 77'
spam.split()

['566', '9', '5', '8', '77']

# map
map(f,L)
把F這個函數作用到L中的每個元素

In [40]:
L = '333 1024 59 66'.split()

In [41]:
def exchange(p):
    p = float(p)
    return p*rate

In [42]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 2014.3524943000002, 2253.3434682]

# 緊急用的函數lambda

In [43]:
def f(x):
    return x**2

In [44]:
f(2)

4

In [45]:
g = lambda x:x**2

In [46]:
g(3)

9

In [47]:
L

['333', '1024', '59', '66']

In [49]:
list(map(lambda p:float(p)*rate,L))

[11369.142044100001, 34960.9653248, 2014.3524943000002, 2253.3434682]

# list comprehension

In [50]:
L

['333', '1024', '59', '66']

In [51]:
[float(p)*rate for p in L]

[11369.142044100001, 34960.9653248, 2014.3524943000002, 2253.3434682]

# 合併LIST

In [52]:
s = " "

for i in L:
    s = s+i+","

In [53]:
s

' 333,1024,59,66,'

In [55]:
s[:-1]

' 333,1024,59,66'

In [59]:
ham = "今天天氣很好"

In [60]:
ham[:2]

'今天'

In [62]:
ham[:-1]

'今天天氣很'